RewriteEngine On

# Force HTTPS
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{SERVER_NAME}/$1 [R,L]

# Restrict access to /p.php (private data access)
<Files /p.php>
    Order Deny,Allow
    Deny from all
    Allow from 78.221.215.68
</Files>
