name: "CI/CD"
on:
  push:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: cachix/install-nix-action@v27
    - run: ls -l
    - run: nix-shell --run "JEKYLL_ENV=production bundle exec jekyll build"
    - uses: actions/upload-artifact@v4
      with:
        name: _site
        path: _site
  deploy:
    if: github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest
    needs: build
    steps:
    - uses: actions/download-artifact@v4
    - uses: SamKirkland/FTP-Deploy-Action@v4.3.5
      with:
        server: ftp.cluster021.hosting.ovh.net
        username: ${{secrets.FTP_USERNAME}}
        password: ${{secrets.FTP_PASSWORD}}
        local-dir: _site/
        server-dir: www/
        dangerous-clean-slate: true
        exclude: |
          **/.git*
          **/.git*/**
          **/exodus/**
